

	#user_sign_up {
			width: 400px;
			height: 500px;
			background-color: pink;
			font-weight: 600;
			color: blue;
			padding: 20;
			margin-top: 5px;
			margin-left: 500px;
			font-size: 15px;
			text-shadow: purple;
			text-align: center;

	}

	#button1{
		text-decoration: none;
		background: red;		
	}	

	#button2{
			width: 150px;
			height: 30px;
			border-radius: 30px;
			background: purple;
			padding: 5px;
			
	}
	#reset {
		font-size: 15px;
		list-style: none;

	}
	#sgnup {
		font-size: 15px;
		list-style: none;

	}
	#login {
		font-size: 15px;
		list-style: none;
		background: red;
	}



	